#Python
*.pyc
*.pyo
*.pyd
*__pycache__/
dialogs/__pycache__/

# Visual Studio Code
.vscode

# Installer and build
/build
/dist
/installer
*.spec

# Other
.DS_Store
.env
.env.*
.venv

# Inno Setup
*.iss
